
body{
    display: flex;
    flex-direction: column;
    background-image: url(Backgrounds/roadPs.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:  #494339;
}
.block{
    display: flex;
    flex-direction: row;
}
.block #centre{
   padding: 5%;
}
.block #left{
    margin: 20%;
}
.block #right{
    margin: 20%;
}
header{
    color: white;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a img{
    height:	20px;
    width: 	20px;

}